@media (max-width:1280px) {
body { font-size:0.8em }
.wrap { width:100%; padding:0 20px }
#header .gnb .depth1 { padding:0 30px; }
#header .gnb .depth1 > a:before { left:30px }
#header.down { height:240px }
#header .btn_user { margin-right:20px }
#header .user { right:5px }
#main_visual .bx-controls { bottom:200px; }
.pic_lt .ts-controls { text-align:center; margin-top:10px }
.pic_lt .ts-controls button { display:none }
.pic_lt .ts-controls button.ts-paging-btn { display:inline-block; margin:0 3px; position:static; width:100%; background:none; width:20px; height:20px; border:1px solid #333; border-radius:50% }
.pic_lt .ts-controls button.ts-paging-btn.ts-paging-active { background:#333 }
#footer { margin:60px 0 0 0; padding:40px 0 }
#footer nav { right:20px }
#left_area { width:180px }
#right_area { width:calc(100% - 230.1px) }
.tbl_head01 td, .tbl_head01 th { padding:12px 7px !important }
#bo_list .td_num2 { width:50px }
.td_thumb { width:150px }
#bo_list .td_datetime { width:80px }
#bo_gall .gall_info .gall_view { display:none }
#faq_sch .frm_input, #faq_sch .btn_submit { height:40px }
.history_slogun { width:260px }
.history_list { width:calc(100% - 300px) }
}

@media (max-width:1280px) {

#main_visual h2 { padding:0 10% }
#main_visual p { padding:0 10%; word-break:keep-all }
#main_visual .READ_MORE { font-size:1.3em; margin:50px 0 0 10%; }

}

@media (max-width:1023px) {

body { font-size:0.8em }
.wrap { width:100%; padding:0 4% }
.mobile_only { display:block !important }
.mobile_no { display:none !important }
.out_login_load { display:block !important;background:#fff;padding-top:2px;padding-bottom:2px }
.out_login_load a{ color:#000 }

#header .gnb .depth1 .gnb_al_a  { display:none }
#header .gnb .gnb_al_a_mobile  { width:100%;display:block;color:#000;padding:20px 20px 20px 30px }

#top_tnb { display:none }
#header_view { display:none }
#header { height:60px !important }
#header h1 { display:none }
#header .btn_user { position:absolute; right:70px; top:25px; font-size:22px; z-index:8; float:none; margin:0 }
#header .btn_gnb { position:absolute; right:30px; top:25px; font-size:22px; z-index:10; }
#header .btn_gnb.on { color:#000; }
#header .gnb { position:fixed; width:100%; background:#ffffff; height:100%; top:0; left:-100%; margin:0; float:none; z-index:9; padding-top:60px; transition:all .3s }
#header .gnb.on { left:0; }
.gnb .gnb_al_a { color: #000 !importent; }
.gnb a { color: #000 }
#header .gnb.on .depth1 { color: #000 !importent;min-height:30px;width:100%;display:table;border-bottom:1px solid silver }
#header.down .gnb.on .depth1 > a { margin-bottom:0 }
#header.down .gnb.on .depth1:hover > a { color:#000 }

#header .user { right:38px; top:70px }
#header .user.on a { color:rgba(0,0,0,0.7) }

#header.on { background:#fff }
#header.on .gnb a { color:#000 }

#footer { padding:30px 0 }
#footer h1 { display:none }
#footer .f_left { float:none !important; margin:0; }
#footer nav { position:static; margin:0 0 10px }
#footer nav li { margin:0 17px 0 0 }



#sub_visual { height:300px }
#sub_visual h2 { padding-top:130px }

#contents { margin:0; min-height:510px }
#contents .wrap { padding:0 }

#left_area { float:none; width:100% }
.left_snb { text-align:center; border-bottom:1px solid #e0e0e0 }
.left_snb h2 { display:none }
.left_snb ul { margin:0 }
.left_snb li { display:inline-block; margin:0 50px }
.left_snb li a { border:0; padding:12px 5px; font-size:1.5em; font-weight:500 }
.left_snb li a:after { width:100%; background:#fff; right:0; top:auto; transform:none; bottom:0 }
.left_snb li:hover a { background:#fff }
.left_snb li.on a:after { width:100% }
.left_cs { display:none }

#right_area { width:100%; float:none; padding:50px 4% 0 4% }
.container_title { display:none }

#ctt_con { font-size:1.12em }
.history_slogun { width:230px }
.history_list { width:calc(100% - 280.1px) }

#bo_gall .gall_li { width:calc(100%/3 - 10.1px) }
#bo_gall .gall_li:nth-child(4n + 1) { clear:none }
#bo_gall .gall_li:nth-child(3n + 1) { clear:none }
#bo_gall .gall_img:hover img { transform:none }

#bo_v_act { margin:40px 0 !important }
#bo_v_desc { margin-top:40px }
.bo_v_nb { margin: 30px 0 }
#bo_vc_empty { padding:40px 0 !important }
#bo_v_con { min-height:50px }
#bo_v_info .sv_member, #bo_v_info .sv_guest, #bo_v_info .member, #bo_v_info .guest, #bo_vc .member, #bo_vc .guest, #bo_vc .sv_member, #bo_vc .sv_guest { font-size:1.2em }
#bo_list .td_datetime { width:60px }
#bo_list .td_name { width:90px }
#captcha.m_captcha #captcha_key { height:40px; margin-top:5px }
#captcha.m_captcha #captcha_img { display:inline-block; width:120px; height:40px; }
#captcha.m_captcha #captcha_reload { margin-top:5px }
td .thumb { width:150px }
td .thumb ~ div { margin-left:170px }
}

@media (max-width:767px) {
.s_mobile_only { display:block !important }


#header { height:60px !important }
#header h1 { line-height:68px }
#header h1 a { width:107px; height:36px }
#header .btn_gnb { top:16px;  }
#header .btn_user { top:16px; }
#header .user { top:58px }
#header.on h1 a { background-position:0 -36px }
#footer { margin:30px 0 0 0; padding:25px 0 }
#footer nav { text-align:center }
#footer nav li { display:inline-block; float:none }
#footer .copyright { text-align:center; font-size:0.9em }
#footer #top_btn { right:10px; bottom:10px }

#main_visual h2 { font-size:2.4em }
#main_visual hr { margin:22px 0 0 0 }
#main_visual p { font-size:1.3em; margin:107px 0 0 0 }
#main_visual .READ_MORE { font-size:1.3em; margin:50px 0 0 10% }
.main_gallery { margin-top:-95px }
.main_gallery h2 { font-size:1.5em; padding:30px 0 20px 0 }
.tab_menu li a { padding:0; margin:0 10px; border:0 }
.main_gallery .tab_con { margin-top:30px }
.pic_lt li .lt_name { font-size:1.3em }
#main_visual .bx-controls { bottom:150px }
.main_bbs, .main_cs { width:100%; float:none }
.main_bbs h2 { font-size:1.5em }
.main_cs { margin:50px 0 0 0; }
.root_daum_roughmap .wrap_map { height:250px !important }

#sub_visual { height:200px }
#sub_visual h2 { font-size:2.2em; padding-top:95px }
#sub_visual h2:after { bottom:-15px }

.left_snb li { margin:0 10px }
.left_snb li a { font-size:1.2em }

#contents { min-height:300px }

#right_area { padding-top:30px }

#bo_cate { margin-top:0 }
#bo_cate a { min-width:0; padding:0; height:auto; line-height:1; margin:3px 10px; border:0; font-size:13px }
#bo_cate #bo_cate_on { border:0 }
#bo_gall #gall_ul { margin:10px 0 0 0; }
#bo_gall .gall_li { width:100%; float:none; margin-left:0; margin-bottom:15px }
#bo_gall .bo_tit { white-space:normal }
#bo_v_item #bo_v_img { float:none; width:100%; margin-top:5px }
#bo_v_item #bo_v_summary { float:none; width:100%; margin:30px 0 0 0 }
#bo_v_summary .bo_v_title { font-size:1.5em }
#bo_v_summary .bo_v_title small { font-size:0.6em }
#bo_v_summary, #bo_v_desc { font-size:1em }
#bo_v_summary .refer { margin:12px 0 0 0 }
#bo_v_sns li a { width:50px; height:50px; line-height:50px }
#bo_v_share .btn { width:50px; height:50px; font-size:11px }
#bo_v_share .btn i { margin:8px 0 0 0 }
#bo_v_share { padding:25px 0 }
.bo_v_nb { margin:20px 0 }
#bo_v_desc { margin-top:30px }
.bo_vc_w_info .frm_input { width:49.5%; margin:0 }
.bo_vc_w_info #wr_password { float:right }
#bo_vc article .pf_img { display:none }
#bo_v_info .sv_member, #bo_v_info .sv_guest, #bo_v_info .member, #bo_v_info .guest, #bo_vc .member, #bo_vc .guest, #bo_vc .sv_member, #bo_vc .sv_guest { font-size:1.1em }
#bo_gall.listtype .gall_img { float:none; width:100% }
#bo_gall.listtype .gall_img + div { float:none; width:100%; padding:20px; font-size:1em }
#bo_gall .bo_tit, #bo_gall.listtype .bo_tit { font-size:1.3em }
.gall_list_opt dt { min-width:60px; text-align:center }
.gall_list_opt dt, .gall_list_opt dd { font-size:.95em }
td .thumb { width:100%; float:none }
td .thumb ~ div { margin-left:0; margin-top:15px }
#bo_v_title { font-size:1.3em; font-weight:400 }
#bo_v_title .bo_v_tit { font-size:1em }
#bo_v_act { margin:30px 0 !important }
.bo_v_nb li .nb_tit { padding-right:0; width:65px; vertical-align:top }
.bo_v_nb li a { overflow:hidden; text-overflow:ellipsis; white-space:nowrap; display:inline-block; width:calc(100% - 120px); vertical-align:top }
.tbl_head01 td, .tbl_head01 th { font-size:1em }
#faq_sch .btn_submit { width:70px; }
#faq_sch .frm_input { width:calc(100% - 75px) }
#faq_sch .frm_input, #faq_sch .btn_submit { height:36px; font-size:1em }
#faq_sch { padding:20px; }
#faq_wrap li { font-size:1em }
#bo_v_con { font-size:1em }
#bo_list .td_stat, #bo_v_rel .td_stat { width:80px }
#bo_list .txt_rdy, #bo_v_rel .txt_rdy { padding:0 5px }
#bo_list .td_date { width:70px }
.bo_cate_link { float:none; display:block }
#bo_v_title .bo_v_cate { display:block; font-size:0.7em }
.bo_v_com > li { margin-left:0 }
.bo_sch { width:320px; margin-left:-160px }
.bo_sch .sch_input { width:240px }

.mbskin .mbskin_box { width:320px }
#mb_login #sns_login .txt { padding-left:0 !important }
#fregister p { padding:10px; line-height:1.3; font-size:1em; height:auto }
#sns_register h2 { display:none }
#sns_register .sns-wrap { width:100%; display:block; text-align:center }
#fregister h2 { font-size:1.1em }

#ctt_con { font-size:1em; overflow:hidden }
#ctt_con.sub01_01 .sec01 > div { float:none; width:100% }
#ctt_con.sub01_01 .sec01 h2 { font-size:1.5em }
#ctt_con.sub01_01 .sec01 .img01 { width:100%; float:none }
#ctt_con.sub01_01 .sec01 .img01 p { text-align:center }
#ctt_con h2.title { font-size:1.4em; padding-bottom:20px }
#ctt_con.sub01_01 th { width:auto }
#ctt_con.sub01_01 th, #ctt_con.sub01_01 td { padding:12px 7px; word-break:keep-all }
#ctt_con.sub01_02 .tab_menu a { font-size:16px; border:1px solid #e0e0e0; border-left:0; border-right:0; padding:10px 0; margin:0 }
#ctt_con.sub01_02 .tab_menu li.on a { border-color:#666 }
#ctt_con.sub01_02 .tab_menu { margin:0 0 30px }
.history_slogun { width:100% }
.history_slogun img { display:none }
.history_list { width:100% }
.history_slogun header { animation:none; opacity:1; border-bottom:1px solid #e0e0e0; padding-bottom:15px }
.history_list h3 { font-size:1.5em }
.history_list li li { background-size:4px 4px; background-position:0 5px; padding-left:10px }
.history_list > ul > li { animation: left .7s .0s forwards; }
.os_mac.root_daum_roughmap .section_address .tit, .os_mac.root_daum_roughmap .section_address .txt { font-size:1em !important }

}
